html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.container {
  height: 100vh;
  display: grid;

  grid-template-rows: 1fr 4fr;
  grid-template-columns: 300px 1fr;
}

a {
  text-decoration: none;
}

/* Main sections */

/* Sidebar */
.sidebar {
  background-color: #818cf8;
  grid-row: 1 / -1;
  padding: 16px 24px;

  display: grid;
  grid-template-rows: 80px 280px 180px;
}

.sidebar>.logo>.nav-icon>img {
  width: 2rem;
  height: 2rem;
}

.sidebar>.logo h1 {
  margin: 0;
}

.sidebar>.nav-links>ul,
.sidebar>.nav-links>ul {
  display: grid;
  gap: 14px;

  font-size: 1.4rem;
  font-weight: 700;
}

.sidebar ul {
  padding: 0;
  list-style: none;
}

.sidebar a {
  display: grid;
  grid-template-columns: 32px 1fr;
  gap: 20px;
  color: black;
}

.sidebar .nav-icon {
  padding-top: 2px;
  justify-self: right;
}

.sidebar .nav-icon img {
  width: 1.4rem;
  height: 1.4rem;
}

/* Header */
.header {
  background-color: #ffffff;
  color: black;
  height: 150px;

  padding: 16px 80px;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.header-top {
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: center;
}

.header-top #dashboard-search {
  appearance: none;
  border: none;
  background-color: #e2e8f0;
  border-radius: 15px;
  width: 80%;
  padding: 12px;
}

.header-top .nav-account {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 3fr;
  gap: 20px;
}

.header-top .nav-account .nav-link {
  justify-self: center;
}

.header-top .nav-icon img {
  justify-self: center;
  width: 30px;
  height: 30px;
}

.header-top .nav-icon>.profile-picture {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.header-top .nav-account .account-name {
  justify-self: start;
}

.header-top .nav-account .account-name p {
  margin: 0;
  font-size: 1.5rem;
  color: black;
  font-weight: 700;
}


/* Content */
.content {
  background-color: #e2e8f0;
}