html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.container {
  height: 100vh;
  display: grid;

  grid-template-rows: 1fr 4fr;
  grid-template-columns: 300px 1fr;
}

a {
  text-decoration: none;
  color: white;
}

/* Main sections */

/* Sidebar */
.sidebar {
  background-color: #818cf8;
  grid-row: 1 / -1;
  padding: 18px 24px;

  display: grid;
  grid-template-rows: 80px 280px 180px;
}

.sidebar>.logo>h1 {
  margin: 0;
}

.sidebar>.nav-links>ul,
.sidebar>.nav-links>ul {
  display: grid;
  gap: 14px;

  font-size: 1.2rem;
  font-weight: 700;
}

.sidebar ul {
  padding: 0;
  list-style: none;
}

/* Header */
.header {
  background-color: #ffffff;
  min-height: 150px;
}

/* Content */
.content {
  background-color: #c7d2fe;
}